<h3> Did you know that ...</h3>

<div class="aboutInfo">

<ol>

<li> Over the past 50 years, world plastic production has doubled.</li>
<li> Almost every piece of plastic that was ever produced, still exists. </li>
<li> Estimates for how long plastic endures range from 450 years to forever. </li>
<li> The average time that a plastic bag is used is just 12 minutes. <br>
More than 40 percent of plastic is used just once, then tossed. </li>
<li> Worldwide, 73 percent of beach litter is plastic: filters from cigarette butts, bottles, bottle caps, <br> 
food wrappers, grocery bags, and polystyrene containers.</li>
<li> As of 2015, more than 6.3 billion tonnes of plastic waste had been generated. Around 9 percent of that was recycled, <br> 
12 percent was incinerated, and 79 percent accumulated in landfills or environment.</li>
<li> More than 5 trillion pieces of plastic are already floating in our oceans. </li>
<li> The average person eats 70,000 microplastics each year. </li>
<li> By 2050, virtually every seabird species on the planet will be eating plastic. </li>
<li> The largest market for plastics today is packaging materials. That rubbish now accounts for nearly <br> 
half of all plastic waste generated globally—most of it never gets recycled or incinerated.</li>

</ol>

<p> Every single country is part of this plastics crisis. <br> 
And every single one must be part of the solution: we need a united global response, <br> 
with the world’s governments made accountable for ending the excessive plastics pollution. <br>
<br>
By coming together to tackle plastic pollution, we can show that powerful, collective action to restore nature is possible.</p>

<hr>

<p> Go back to the petition <a href="/petition"> HERE </a> </p>

<p> Did not register yet? Then <a href="/registration">DO IT</a> here. </p>
<p> Already registered? Then <a href="/logIn">LOG-IN</a> here. </p>
</div>

