<div>

    <h3> Please log-in to sign and see who already supported this petition. </h3>

    <form method="POST" id="login_form">

         <input
            name="email"
            type="email"
            pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            title="Please enter a valid E-Mail address."
            class="user-data"
            id="email"
            placeholder="Email@email.com"
        /> <span class="error"><p id="email_error"></p></span>

        <input
            name="password"
            type="password"
            class="user-data"
            id="password"
            placeholder="Your password"
        /> <span class="error"><p id="password_error"></p></span>
        

        <input type="submit" value="Log-In" />

        <p style="color:red" > {{ error }} </p>

        <p> Did not register yet? Then <a href="/registration">DO IT</a> here. </p>

    </form>

</div>

<script src="./logIn.js"></script>