<div>

    <form method="POST">
        <input
            name="firstname"
            type="text"
            class="user-data"
            placeholder="Firstname"
        />
        <input
            name="lastname"
            type="text"
            class="user-data"
            placeholder="Lastname"
        />
        <textarea
            name="signature"
            class="user-data"
            placeholder="Please sign here"
        ></textarea>
        <input type="submit" value="Submit your vote" />
    </form>

</div>