<div>

    <form method="POST" id="petition_form">
        <input
            name="firstname"
            type="text"
            class="user-data"
            id="firstname"
            placeholder="Firstname"
        /> <span class="error"><p id="firstname_error"></p></span>
        <input
            name="lastname"
            type="text"
            class="user-data"
            id="lastname"
            placeholder="Lastname"
        /> <span class="error"><p id="lastname_error"></p></span>
        <canvas
            name="signature"
            class="user-data"
            id="signature"
            placeholder="Please sign here"
            width="420" 
            height="150"
        > Here, the signature Canvas should be shown. </canvas> 
        <a href="#" class="button" onclick="clearSignature()">Remove Signature</a>
        <span class="error"><p id="signature_error"></p></span>
        <input type="submit" value="Submit your vote" />

        <input name="savedSignature" id="savedSignature" type="hidden"/>
    </form>

</div>