    <a href="/logOut" style="color:green; float: right">LOG-OUT</a>
    
<div>


    <form method="POST" id="petition_form">
        
        <canvas
            name="signature"
            class="user-data"
            id="signature"
            placeholder="Please sign here"
            width="420" 
            height="150"
        > Here, the signature Canvas should be shown. </canvas> 
        <a href="#" class="button" onclick="clearSignature()">Remove Signature</a>
        <span class="error"><p id="signature_error"></p></span>
        <input type="submit" value="Submit your vote" />

        <input name="savedSignature" id="savedSignature" type="hidden"/>

        
    </form>


</div>

<script src="./mainPage.js"></script>