
<h3> Nice to have you on board <strong> {{ name }} </strong>, would you like to provide us with some more information about yourself? </h3>

<form method="POST" id="profile_form">

         <input
            name="age"
            type="number"
            min="18" 
            max="99"
            class="user-data"
            id="age"
            placeholder="Your age"
        />

        <input
            name="city"
            type="text"
            pattern="[A-ZÄÖÜÆÅØ][\p{Letter}\-' ßñäüöæåø]+"
            title="Has to start with a capital letter, no numbers allowed."
            class="user-data"
            id="city"
            placeholder="Your city"
        />

        <input
            name="homepage"
            type="url"
            class="user-data"
            id="homepage"
            placeholder="Your Homepage"
        />
        

        <input class="submitMain" type="submit" value="Edit Info" />

        <p style="color:red" > {{ error }} </p>

    </form>

    <h4> If you want to keep that to yourself, no problem, this information is not mandatory. <br> Just leave the fields empty and click
    on the Edit Info button to continue. You can still edit your profile later on. </h4>