<div>

    <h3> Please sign up in order to support this petition and our fight against plastic pollution. </h3>

    <form method="POST" id="registration_form">
        <input
            name="firstname"
            type="text"
            pattern="[\p{Letter}\-' ßñÄÖÜäüöæÆÅåØø]+"
            title="No numbers allowed."
            class="user-data"
            id="firstname"
            placeholder="Your first name"
        /> <span class="error"><p id="firstname_error"></p></span>

        <input
            name="lastname"
            type="text"
            pattern="[\p{Letter}\-' ßñÄÖÜäüöæÆÅåØø]+"
            title="No numbers allowed."
            class="user-data"
            id="lastname"
            placeholder="Your last name"
        /> <span class="error"><p id="lastname_error"></p></span>

         <input
            name="email"
            type="email"
            pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            title="Please enter a valid E-Mail address."
            class="user-data"
            id="email"
            placeholder="Email@email.com"
        /> <span class="error"><p id="email_error"></p></span>

        <input
            name="password"
            type="password"
            class="user-data"
            id="password"
            placeholder="Enter a password"
        /> <span class="error"><p id="password_error"></p></span>
        

        <input class="submitMain" type="submit" value="Register" />

        <p style="color:red" > {{error }} </p>

        <p> Already registered? Then <a href="/logIn">LOG-IN</a> here. </p>

    </form>

</div>

<script src="./registration.js"></script>