<h4> Thanks for voting Lennard for president! I promise to make your vote count!! Peace Out </h4>

<h3> {{ lastPersonWhoSigned }} </h3>

<p> so far, {{ signatures }} people have voted! </p>

<a href="/signatures"> See who signed already </a>