<h4> Thanks for voting Lennard for president! I promise to make your vote count!! Peace Out </h4>

<img src={{ lastPersonWhoSigned }} alt="signature">

<p> so far, {{ signatures }} people have voted! </p>

<a href="/signatures"> See who signed already </a>